@page
@model MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>


<h2>Combos</h2>
<div id="container">
    @for (int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
    {
        <div class="menu-item">
            <h4>@Model.Menu.AvailableCombos[i].ToString()*</h4>
            <h5>Price: @Model.Menu.AvailableCombos[i].Price</h5>
            <h5>Calories: @Model.Menu.AvailableCombos[i].Calories</h5>
            <h5>
                Ingredients:
                @for (int j = 0; j < @Model.Menu.AvailableCombos[i].Ingredients.Count; j++)
                {
                    <h6>@Model.Menu.AvailableCombos[i].Ingredients[j]</h6>
                }
            </h5>
        </div>
    }
</div>


<h2>Entrees</h2>
<div id="container">
    @for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
    {
        <div class="menu-item">
            <h4>@Model.Menu.AvailableEntrees[i].ToString()</h4>
            <h5>Price: @Model.Menu.AvailableEntrees[i].Price</h5>
            <h5>Calories: @Model.Menu.AvailableEntrees[i].Calories</h5>
            <h5>
                Ingredients:
                @for (int j = 0; j < @Model.Menu.AvailableEntrees[i].Ingredients.Count; j++)
                {
                    <h6>@Model.Menu.AvailableEntrees[i].Ingredients[j]</h6>
                }
            </h5>
        </div>
    }
</div>

<h2>Sides</h2>
<div id="container">
    @for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
    {
        <div class="menu-item">
            <h4>@Model.Menu.AvailableSides[i].ToString()</h4>
            <h5>Price: @Model.Menu.AvailableSides[i].Price</h5>
            <h5>Calories: @Model.Menu.AvailableSides[i].Calories</h5>
            <h5>
                Ingredients:
                @for (int j = 0; j < @Model.Menu.AvailableSides[i].Ingredients.Count; j++)
                {
                    <h6>@Model.Menu.AvailableSides[i].Ingredients[j]</h6>
                }
            </h5>
        </div>
    }
</div>

<h2>Drinks</h2>
<div id="container">
    @for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
    {
        <div class="menu-item">
            <h4>@Model.Menu.AvailableDrinks[i].ToString()</h4>
            <h5>Price: @Model.Menu.AvailableDrinks[i].Price</h5>
            <h5>Calories: @Model.Menu.AvailableDrinks[i].Calories</h5>
            <h5>
                Ingredients:
                @for (int j = 0; j < @Model.Menu.AvailableDrinks[i].Ingredients.Count; j++)
                {
                    <h6>@Model.Menu.AvailableDrinks[i].Ingredients[j]</h6>
                }
            </h5>
        </div>
    }
</div>

<h6 class="reallySmallWords">*Prices, Calories, and Ingredients vary depending on selected side and drink. Combo shown has a default side and drink.</h6>